<center>
<%= form_for @androidapp, :url => { :controller => 'android_app', :action => 'create' } do |f| %>
	<table border="1" width="50%" padding>
		<tr>
			<td><%= f.label :name, "Name" %></td>
			<td><%= f.text_field :name %></td>
		</tr>	
    	<tr>
			<td><%= f.label :description, "Description" %></td>
			<td><%= f.text_field :description %></td>
		</tr>
		<tr>
			<td><%= f.label :capacity, "Capacity" %></td>
			<td><%= f.select :capacity, @capacities %></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><%= f.submit "Create" %></td>
		</tr>
	</table> 
<% end %>
</center>